h1 {
  text-align: center;
  padding-top: 50px;
  font-size: 60px;
  text-shadow: 0px 0px 5px;
  color: #26265a82;
}

.food2 {
  display: flex;
  gap: 3rem;
  padding: 40px 60px;
}

.text {
  padding-top: -19px;
}

.img {
  border-radius: 8px;
  width: 25%;
  height: 10%;
  padding-left: 60px;
  text-shadow: 10px 10px 5px;
}

h2 {
  text-shadow: 0px 0px 3px;
  color: #00000b;
  font-size: 38px;
}

h4 {
  font-size: 18px;
  text-shadow: 0px 0px 5px;
  color: #26265a82;
}

.title {
  width: 60%;
  margin: 0 auto;
  border: 3px dashed #66a9af;
  border-radius: 11px;
  background-color: #f7f7ef;
}